*{
  letter-spacing: 1px;
}

a{
  color: #414141;
  font-family: 'Open Sans', sans-serif;
}

img{
  width: 100%;
}

h1,h2,h3,h4,h5,h6{
  color: #414141;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
}

span.h-separator{
  border: #15BDDB solid 1px;
  display: inline-block;
  width:200px;
  margin-bottom: 25px;
}
.btn{
  border-radius: 3px;
  padding:10px 20px;
}
/* Navbar */
.navbar .nav-link{
  font-size: 14px;
}

.navbar{
  box-shadow: 1px 1px 20px #dadada;
}

/* banner */
.wrap-banner{
  background-size: cover;
  height: 500px;
  text-align: center;
  position: relative;
}

.wrap-banner .banner{
  padding-top:130px;
  background: rgba(255, 255, 255, 0.719);
  height: 500px;
}

.wrap-banner .banner h1{
  margin-bottom: 15px;
}

.wrap-banner .banner .btn-lm{
  color: #414141;
  margin-top: 20px;
  border: #15BDDB solid 2px;
}

.wrap-banner .banner .btn-gs{
  color: #ffffff;
  margin-top: 20px;
  background: #15BDDB;
}

/* About */
.wrap-about .about{
  padding:70px 0px;
}

.wrap-about .about .img{
  padding-left:150px;
}

/* Testimoni */
.wrap-testi{
  background: #fafafa;
  text-align: center;
}

.wrap-testi .testi{
  padding:70px 0px;
}

.testimo{
  margin-top: 50px !important;
}

.testimo .item{
  background: #ffffff;
  padding: 40px 20px;
  border-radius: 5px;
}

.testimo .item p{
  margin-top: 10px;
  color: #7a7a7a;
}

.testimo .item q{
  color: #464646;
}

.testimo .item .wrap-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px !important;
}

.testimo .item .wrap-img img{
  width:100%;
}

/* Tekologi */
.wrap-techno .techno{
  padding:70px 0px;
  text-align:center;
}

.wrap-techno .techno img{
  width: 100%;
  margin-bottom: 20px;
}

.wrap-techno .techno .item{
  padding:20px;
  border-radius: 5px;
  border:1px solid #cecece;
  margin-top:27px;
}

/* Class */
.wrap-class{
  background: #fafafa;
}
.wrap-class .class{
  padding:70px 0px;
  text-align:center;
}

.wrap-class .class img{
  width:100%;
}

.wrap-class .class .item{
  border-radius: 5px;
  background: #ffffff;
  overflow: hidden;
  padding-bottom: 30px;
  margin-top:27px;
}

.wrap-class .class .item .text{
  text-align: left;
  padding: 0 20px;
  padding-top:30px;
  margin-bottom:20px;
}

.wrap-class .class .btn-lsk{
  background: #15BDDB;
  color: #ffffff;
  margin-top:40px;
}

.class-page .class{
  text-align: left;
}
.wrap-class .class .item{
  text-align: center;
}

.wrap-class-thumb{
  background: #fafafa;
}

.wrap-class-thumb .class-thumb{
  padding:70px 0px;

}

.wrap-class-thumb .class-thumb .btn-gs{
  color: #ffffff;
  margin-top: 20px;
  background: #15BDDB;
}

.wrap-class-thumb .class-thumb .btn-lm{
  color: #414141;
  margin-top: 20px;
  border: #15BDDB solid 2px;
}